{% block navbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">El Klan 2.0</a>
        </div>
        <div class="navbar-default navbar-right" role="navigation">
            <div class="navbar-nav navbar-collapse">
                {{ knp_menu_render('KlanPageBundle:Builder:topMenu') }}
            </div>
        </div>
    </div>
</nav>
{% endblock %}