{% block about %}
    <section id="acerca-de">
        <div class="container">
            <div class="rebrand-heading text-center wow fadeInUp">Acerca del klan</div>
            <div class="row">
                <p class="quienes-somos text-center wow fadeInUp">
                    Somos un equipo de profesionales especializados en las áreas de comunicaciones, fotografía, diseño audiovisual y desarrollo web que se han unido con el fin de entregar servicios de calidad a nuestros clientes.
                </p>
                <h2 class="text-center wow fadeInUp">
                    Construímos bajo 3 pilares:
                </h2>
                <div class="col-md-4">
                    <img src="img/asesoria.jpg" class="img-responsive img-circle center-block wow bounceInLeft">
                    <h3 class="text-center wow fadeInUp">
                        Asesoría
                    </h3> 
                </div>
                <div class="col-md-4">
                    <img src="img/gestion.jpg" class="img-responsive img-circle center-block wow bounceInLeft">
                    <h3 class="text-center wow fadeInUp">
                        Gestión
                    </h3> 
                </div> 
                <div class="col-md-4">
                    <img src="img/produccion.jpg" class="img-responsive img-circle center-block wow bounceInLeft">
                    <h3 class="text-center wow fadeInUp">
                        Producción
                    </h3> 
                </div> 
            </div>
        </div>
    </section>
{% endblock %}