{% block customer %}
    <section id="clientes">
        <div class="container">
            <div class="rebrand-heading text-center wow fadeInUp">Clientes</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-clientes wow bounceInRight">
                        <div>
                            <img class="img-responsive" src="img/customer/melon.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/customer/entel.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/customer/champagnat.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/customer/pizarreno.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/customer/toso.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/customer/hispano.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/customer/directtv.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/customer/marga-marga.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/customer/san-antonio.png">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>  
{% endblock %}