{% block customer %}
    <section id="clientes">
        <div class="container">
            <div class="rebrand-heading text-center wow fadeInUp">Clientes</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-clientes wow bounceInRight">
                        <div>
                            <img class="img-responsive" src="img/clientes/melon.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientes/entel.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientes/champagnat.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientes/pizarreno.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientes/toso.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientes/hispano.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientes/directtv.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientes/marga-marga.png">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientes/san-antonio.png">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>  
{% endblock %}