{% block desarrollo %}
    <section id="en-desarrollo">
        <div class="rebrand-heading text-center wow fadeInUp">En desarrollo</div>
        <div class="container">
            <div style="background-image: url(img/desarrollo/champagnat.jpg);" class="left-half">
                <a class="foto"><div class="caption"><p><b>Champagnat 50</b></p></div></a>
            </div>
            <div class="right-half">
                <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Documental 50 años, Colegio Champagnat</h1>
                <p>
                    <b>Director:</b> Cristian Luna Salinas<br>
                    <b>Guión:</b> Francisca Droppelmann, María Fernanda Tapia<br>
                    <b>Formato:</b> Documental  
                </p>
                <p>
                    "Champagnat 50" , Es un documental que pretende plasmar en 50 minutos, la historia del Colegio Champagnat de Villa Alemana, abarcando a través de testimonios y recreaciones sus inicios, cuando los hermanos Maristas llegaron a la ciudad y celebraron su fundación en 1967; su trascendencia y labor, la calidad de la educación y el progreso constante en cuanto a infraestructura, alumnado y docencia a lo largo de los años. Este Documental pretende investigar cada una de las generaciones de alumnos y como estas de algún u otro modo han promovido los valores de San Marcelino Champagnat en la comunidad, para cerrar con la percepción del futuro, de alumnos, docentes y ex-alumnos y como estos visualizan los próximos 50 años del Colegio.
                </p>
            </div>
        </div> 

        <div class="container intermedio">
            <div class="right-half">
                   
            </div>
        </div> 
    
        <div class="container">
    
            <div class="right-half">
                   
            </div>
         </div>   
    </section>
{% endblock %}