{% block header %}
    <header id="home" class="site-header">
        <h1 class="visible-xs">
            Bienvenidos a la Agencia<br>
            El Klan
        </h1>
        <div class="video-bg" data-property="{showYTLogo:false,showControls:true,loop:true,videoURL:'https://www.youtube.com/watch?v=6dTJEU0t6ws',containment:'.site-header',autoPlay:true,mute:true,quality:'hd1080'}"> 
        </div>
    </header>
{% endblock %}