{% block navbar %}
    <div class="container navbar-fixed-top">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Navegación</span>
                </button>
                <a href="#" class="navbar-brand hidden-lg hidden-md">
                    <img src="img/navbar/logo-blanco.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-main">
                <ul class="nav navbar-nav">
                    <li><a href="#home" class="page-scroll">Home</a></li>
                    <li><a href="#acerca-de" class="page-scroll">Acerca de</a></li>
                    <li><a href="#service" class="page-scroll">Servicios</a></li>
                    <li><a href="#recientes" class="page-scroll">Recientes</a></li>
                    <li class="hidden-sm hidden-xs"><a href="#" class="navbar-brand"><img src="img/navbar/logo-blanco.png"></a></li>
                    <li><a href="#en-desarrollo" class="page-scroll">En desarrollo</a></li>
                    <li><a href="#portafolio" class="page-scroll">Portafolio</a></li>
                    <li><a href="#contacto" class="page-scroll">Contacto</a></li>
                    <li><a href="#clientes" class="page-scroll">Clientes</a></li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}