{% block portfoliodos %}
    <section id="portafolio">    
        <div class="container">
            <div class="rebrand-heading text-center wow fadeInUp">Portafolio</div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div id="portafolio-mansory">
                        <div id="nav" class="wow bounceInLeft">
                            <div id="nav-bar">
                                <div id="fluid-left"></div>
                                    <div id="fix-content">
                                        <div id="nav-bar-filters">
                                            <div data-f="*" class="filter-item active"><span>Todo</span></div>
                                            <div data-f=".c0" class="filter-item"><span>Fotografía</span></div>
                                            <div data-f=".c1" class="filter-item"><span>Web<span></div>
                                            <div data-f=".c2" class="filter-item"><span>Diseño</span></div>
                                            <div data-f=".c3" class="filter-item"><span>Video</span></div>
                                        </div>
                                    </div>
                                <div id="fluid-right"></div>
                            </div>
                        </div>
                        <div id="grid">
                            <div id="grid-content">
                                <!-- fotografia -->
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto1.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto1.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Estreno Documental<br> Villa Alemana 120 años
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto2.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto2.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Preboda
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto3.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto3.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Propiedades Jara
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto4.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto4.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Fotografía Corporativa
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto5.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto5.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Conciertos
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto6.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto6.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Bodas
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto7.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto7.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sesiones Exterior
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto8.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto8.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Cobertura Deportiva
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto9.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto9.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Fotografía Productos
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto10.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto10.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Eventos Corporativos
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto11.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto11.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sesiones de Estudio
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto12.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto12.jpg">
                                        <div class="overlay">
                                            <div class="text">Fotografía Productos</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto13.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto13.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Making Of
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto14.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto14.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Cobertura Eventos
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c0 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/fotografia/foto15.jpg" class="foto">
                                        <img src="img/portafolio/fotografia/foto15.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sesiones de Estudio
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                  
                                <!-- Desarrollo Web -->
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto1.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto1.jpg"><div class="overlay">
                                            <div class="text">
                                                Página web - El portón de París
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto2.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto2.jpg"><div class="overlay">
                                            <div class="text">
                                                Página web - RLAY
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto3.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto3.jpg"><div class="overlay">
                                            <div class="text">
                                                Página web - Valle Verde
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto4.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto4.jpg"><div class="overlay">
                                            <div class="text">
                                                Página web - MFA
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto5.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto5.jpg"><div class="overlay">
                                            <div class="text">
                                                Página web - Médicos<br> a Domicilio
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto7.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto7.jpg"><div class="overlay">
                                            <div class="text">
                                                Página web - Boutique MBA
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto10.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto10.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Página web - PEQ
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto11.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto11.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Página web - Holística<br> Creativa
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto12.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto12.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sitio web administrable -<br> Recursos Estudiantiles USM
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto14.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto14.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sitio web administrable -<br> Centro Khalma
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto15.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto15.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sitio web administrable -<br> Parque Nacional<br> La Campana
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto6.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto6.jpg"><div class="overlay">
                                            <div class="text">
                                                Aplicación web - Brillar
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto8.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto8.jpg"><div class="overlay">
                                            <div class="text">
                                                Aplicación web - Auto Alerta
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto9.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto9.jpg"><div class="overlay">
                                            <div class="text">
                                                Aplicación web - Sello de<br> Eficiencia Energética
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c1 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/desarrollo-web/foto13.jpg" class="foto">
                                        <img src="img/portafolio/desarrollo-web/foto13.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Aplicación web - Emplearcl
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <!-- Diseño Gráfico -->
                                <div class="grid-item c2 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/diseno-grafico/foto1.jpg" class="foto">
                                        <img src="img/portafolio/diseno-grafico/foto1.jpg"><div class="overlay">
                                            <div class="text">
                                                Logotipo
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c2 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/diseno-grafico/foto2.jpg" class="foto">
                                        <img src="img/portafolio/diseno-grafico/foto2.jpg"><div class="overlay">
                                            <div class="text">
                                                Pizarreño
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c2 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="img/portafolio/diseno-grafico/foto3.jpg" class="foto">
                                        <img src="img/portafolio/diseno-grafico/foto3.jpg"><div class="overlay">
                                            <div class="text">
                                                Logotipo
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                
                                <!-- Video -->
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=RgkEaykl1Xo" class="foto">
                                        <img src="img/portafolio/video/documental-villa-alemana.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Documental Villa Alemana,<br>120 años en eterna juventud
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=lSJEBu0oEx8" class="foto">
                                        <img src="img/portafolio/video/congreso-iberoamericano.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Spot
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=uL-869RFlJA" class="foto">
                                        <img src="img/portafolio/video/spot-campana.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Spot Campaña
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=LRuelj6mnHM" class="foto">
                                        <img src="img/portafolio/video/colegio-hispano.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Corporativo Colegio Hispano
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=860T7tCqIQ8" class="foto">
                                        <img src="img/portafolio/video/seguridad-colegio-champagnat.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Corporativo Colegio<br> Champagnat
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=KnF1ImC5cRs" class="foto">
                                        <img src="img/portafolio/video/billabona.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Spot
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=t1VoBGMkI4g" class="foto">
                                        <img src="img/portafolio/video/escuela-plus.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Corporativo Escuela Plus
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=WNMcWmWAiiE" class="foto">
                                    <img src="img/portafolio/video/reel-corporativo.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Reel Corporativo
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=iIOEvHPuP0A" class="foto">
                                        <img src="img/portafolio/video/corporativo-directtv.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Corporativo Direct TV
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=SYE6D_E47Rs" class="foto">
                                        <img src="img/portafolio/video/conference-town.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Corporativo Conference Town
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=vU4xWJ9Ny6s" class="foto">
                                        <img src="img/portafolio/video/villa-alemana-eterna-juventud.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Trailer 1 Villa Alemana,<br> 120 años en eterna juventud
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=_SexPh_O--8" class="foto">
                                        <img src="img/portafolio/video/champagnat-seguridad.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Seguridad Colegio<br> Champagnat
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=Zt5rOLmlNYI" class="foto">
                                        <img src="img/portafolio/video/ranas-va.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Ranas de Villa Alemana
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=FPeTFYDeh24" class="foto">
                                        <img src="img/portafolio/video/reel-contenidos.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Reel Contenidos
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=fbJE995nanc" class="foto">
                                        <img src="img/portafolio/video/reel-evento.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Reel Eventos
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=2mOhe6KNPYU" class="foto">
                                        <img src="img/portafolio/video/reelcorporativo.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Reel Corporativo
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=Sl8Yxu1aQPw" class="foto">
                                        <img src="img/portafolio/video/mutancia6.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Mutancia Capítulo 1
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=u-Cr61hT7-I" class="foto">
                                        <img src="img/portafolio/video/mutancia5.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Mutancia Capítulo 2
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=XC4jmo79jaM" class="foto">
                                        <img src="img/portafolio/video/mutancia4.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Mutancia Capítulo 3
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=ZRNdSe0qa-Q" class="foto">
                                        <img src="img/portafolio/video/mutancia3.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Mutancia Capítulo 4
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=24o4KVHoyGU" class="foto">
                                        <img src="img/portafolio/video/mutancia2.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Mutancia Capítulo 5
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=AbTCjpdmO_U" class="foto">
                                        <img src="img/portafolio/video/mutancia.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Mutancia Capítulo 6
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=DitJRwR4ps4" class="foto">
                                        <img src="img/portafolio/video/kanela.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Video Clip Kanela "Tú"
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=vfZxDLaIR2Q" class="foto">
                                        <img src="img/portafolio/video/corporativo-usach.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Corporativo INDAP USACH
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=cvToChtvFSk" class="foto">
                                        <img src="img/portafolio/video/jamster.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Jamster Otro día
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=i7obUzXKKG4" class="foto">
                                        <img src="img/portafolio/video/ruidoso-corleone.jpg">
                                            <div class="overlay">
                                                <div class="text">
                                                    Sesión Ruidoso Corleone
                                                </div>
                                            </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=eqHFj_ZinmA" class="foto">
                                        <img src="img/portafolio/video/campeonato-nacional-makeup.jpg">
                                            <div class="overlay">
                                                <div class="text">
                                                    Cobertura Eventos
                                                </div>
                                            </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=_Lvo7PoVb-Y" class="foto">
                                        <img src="img/portafolio/video/instituto-del-dub.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sesión Instituto del Dub
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=D2q33GV6fzs" class="foto">
                                        <img src="img/portafolio/video/peter-jara.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sesión Peter Jara
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=vK_QcGRMzeM" class="foto">
                                        <img src="img/portafolio/video/festival-de-cine.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Spot Festival de Cine<br>"Ojo de pescado"
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=d-5hmEJ8Nlc" class="foto">
                                        <img src="img/portafolio/video/campana-exit.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Spot Campaña EXIT
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item c3 animated" style="visibility: visible; position: absolute; left: 0px; top: 41px;">
                                    <a href="https://www.youtube.com/watch?v=0OxwY8cHgmw" class="foto">
                                        <img src="img/portafolio/video/disket.jpg">
                                        <div class="overlay">
                                            <div class="text">
                                                Sesión Disket
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
{% endblock %}