{% block portfolio %}
    <section id="recientes"> 
        <div class="container-fluid"> 
            <div class="row trabajos-recientes">
                <a href="/img/portfolio/foto1.jpg" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 foto"><img class="img-responsive" src="img/portfolio/foto1.jpg"><div class="preview-status"></div><div class="caption"><p><b>SESION FOTOGRAFICA</b></p></div></a>
                <a href="https://www.youtube.com/watch?v=LRuelj6mnHM" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 foto"><img class="img-responsive" src="img/portfolio/foto2.jpg"><div class="preview-status"></div><div class="caption"><p><b>CORPORATIVO COLEGIO HISPANO</b></p></div></a>
                <a href="https://www.youtube.com/watch?v=860T7tCqIQ8" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 foto"><img class="img-responsive" src="img/portfolio/foto3.jpg"><div class="preview-status"></div><div class="caption"><p><b>DOCUMENTAL 50 AÑOS, COLEGIO CHAMPAGNAT</b></p></div></a>
                <a href="https://www.youtube.com/watch?v=RgkEaykl1Xo" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 foto"><img class="img-responsive" src="img/portfolio/foto4.jpg"><div class="preview-status"></div><div class="caption"><p><b>DOCUMENTAL VILLA ALEMANA<br> 120 AÑOS</b></p></div></a>
                <a href="https://www.youtube.com/watch?v=tTuUk0xC6CE" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 foto"><img class="img-responsive" src="img/portfolio/foto5.jpg"><div class="preview-status"></div><div class="caption"><p><b>VIDEO CLIP CELIBATOS</b></p></div></a>
                <a href="img/portfolio/foto6.jpg" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 foto"><img class="img-responsive" src="img/portfolio/foto6.jpg"><div class="preview-status"></div><div class="caption"><p><b>SESION FOTOGRAFICA</b></p></div></a>
            </div>
        </div>
    </section>
{% endblock %}