{% block service %}
    <section id="acerca-de">
        <div class="container">
            <div class="rebrand-heading text-center wow fadeInUp">Servicios</div>
            <div class="row servicios">
                <h2 class="text-center wow fadeInUp">
                    Entre nuestros servicios destacan:
                </h2>
                <div class="col-md-3">
                    <img class="img-responsive img-circle center-block wow bounceInRight" src="img/audiovisual.jpg">
                    <h3 class="text-center wow fadeInUp">
                        Producción Audiovisual
                    </h3> 
                </div>
                <div class="col-md-3">
                    <img class="img-responsive img-circle center-block wow bounceInRight" src="img/fotografia.jpg">
                    <h3 class="text-center wow fadeInUp">
                        Fotografía Profesional
                    </h3> 
                </div>
                <div class="col-md-3">
                    <img class="img-responsive img-circle center-block wow bounceInRight" src="img/diseno.jpg">
                    <h3 class="text-center wow fadeInUp">
                        Diseño Gráfico
                    </h3> 
                </div>
                <div class="col-md-3">
                    <img class="img-responsive img-circle center-block wow bounceInRight" src="img/web.jpg">
                    <h3 class="text-center wow fadeInUp">
                        Diseño y Desarrollo Web
                    </h3> 
                </div>
            </div>
        </div>
    </section>
{% endblock %}