{% block service %}
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Plantillas Flexibles</h3>
                        <p class="text-muted">Nuestras plantillas son actualizadas regularmente y pueden ser personalizadas</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Listos para empezar</h3>
                        <p class="text-muted">Tenemos nuestros resursos displonibles y listos para empezar a trabajar!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Actualizados</h3>
                        <p class="text-muted">Constantemente renovamos nuestros recursos principales para estar siempre a la vanguardia tecnológica</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Hecho con pasión</h3>
                        <p class="text-muted">Haremos que adores el resultado</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}